
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Ziyara{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">

    <link rel="css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ asset('front/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/bootstrap-datepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/jquery.timepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/style.css') }}">
{% endblock %} 

</head>
<body>
{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="index.html"><img src="/back/images/logo1.png" class="mr-2" alt="logo" width="100" hight="100"/>Ziyara</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="/front" class="nav-link">Acceuil</a></li>
					<li class="nav-item"><a href="" class="nav-link">Packs</a></li>
					<li class="nav-item"><a href="" class="nav-link">Guides</a></li>
					<li class="nav-item"><a href="" class="nav-link">Visites</a></li>
					<li class="nav-item"><a href="" class="nav-link">Transport</a></li>
					<li class="nav-item"><a href="/produit/listfront" class="nav-link">Boutique</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->
	{% endblock %}
	

	{% block body %}
	<div class="hero-wrap js-fullheight" style="background-image: url('front/images/back.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
				<div class="col-md-7 ftco-animate">
					<h1 class="mb-4">Réservez votre visite guidée dès aujourd'hui et commencez à explorer la Tunisie !</h1>
				</div>
				<a href="https://www.youtube.com/watch?v=H__i5LKFVXg" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
					<span class="fa fa-play"></span>
				</a>
			</div>
		</div>
	</div>
		
		{% endblock %}
 
		<footer class="ftco-footer bg-bottom ftco-no-pt" style="background-image: url(front/images/bg_3.jpg);">
		{% block footer %}
			<div class="container">
				<div class="row mb-5">
					<div class="col-md pt-5">
						<div class="ftco-footer-widget pt-md-5 mb-4">
							<h2 class="ftco-heading-2">à propos</h2>
							<p>Explorez avec nous. Découvrez lessence de chaque ville grâce à nos guides passionnés.</p>
							<ul class="ftco-footer-social list-unstyled float-md-left float-lft">
								<li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md pt-5 border-left">
						<div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
							<h2 class="ftco-heading-2">Infromation</h2>
							<ul class="list-unstyled">
								<li><a href="#" class="py-2 d-block">Enquête en ligne</a></li>
								<li><a href="#" class="py-2 d-block">Questions Générales</a></li>
								<li><a href="#" class="py-2 d-block">Conditions de Réservation</a></li>
								<li><a href="#" class="py-2 d-block">Confidentialité et Politique</a></li>
								<li><a href="#" class="py-2 d-block">Politique de Remboursement</a></li>
								<li><a href="#" class="py-2 d-block">Appelez-nous</a></li>
							</ul>
						</div>
					</div>
					
					<div class="col-md pt-5 border-left">
						<div class="ftco-footer-widget pt-md-5 mb-4">
							<h2 class="ftco-heading-2">Have a Questions?</h2>
							<div class="block-23 mb-3">
								<ul>
									<li><span class="icon fa fa-map-marker"></span><span class="text">Avenue Habib Bourguiba, Tunis, Tunisie</span></li>
									<li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+216 20 436 874</span></a></li>
									<li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">ziyara.tn</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				</div>
				{% endblock %}
			</footer>
			
			
			

			<!-- loader -->
			<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  

			
		</body>
		</html>

		    {% block js %}
    <script src="{{ asset('front/js/jquery.min.js') }}"></script>
    <script src="{{ asset('front/js/jquery-migrate-3.0.1.min.js') }}"></script>
    <script src="{{ asset('front/js/popper.min.js') }}"></script>
    <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('front/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('front/js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('front/js/jquery.stellar.min.js') }}"></script>
    <script src="{{ asset('front/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('front/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('front/js/jquery.animateNumber.min.js') }}"></script>
    <script src="{{ asset('front/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('front/js/scrollax.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&sensor=false"></script>
    <script src="{{ asset('front/js/google-map.js') }}"></script>
    <script src="{{ asset('front/js/main.js') }}"></script>
    {% endblock %}